<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="flightId">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let flight"> {{flight.flightId}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef>From </th>
            <td mat-cell *matCellDef="let flight"> {{flight.from.airportName}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef> To </th>
            <td mat-cell *matCellDef="let flight"> {{flight.to.airportName}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="freeSeats">
            <th mat-header-cell *matHeaderCellDef> Free seats </th>
            <td mat-cell *matCellDef="let flight"> {{flight.freeSeats}} </td>
          </ng-container>
        
           <!-- Symbol Column -->
           <ng-container matColumnDef="book">
            <th mat-header-cell *matHeaderCellDef> Book </th>
            <td mat-cell *matCellDef="let flight"> 
                <button style="background-color: rgb(19, 90, 2);" mat-button
                (click)="emitSelectedFlight(flight)" >Book</button>    
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>   

    
    </div>
  
