<h2 mat-dialog-title>Update User</h2>

  
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="emailGiven" type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-dialog-actions >
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="closeAndSendResult()">Update</button>
    </mat-dialog-actions>
 
  


